#game-board{
    position: absolute;
    display: inline-grid;
    border: 3px solid red;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    height: 600px;
    left: 50%;
    transform: translateX(-50%);
}

.tile{
    border: 1px solid red;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;

}